.main {
	padding: 30px;
  }
  
  .main-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	align-items: center;
  }
  
  .main-header button {
	background-color: #ff9b44;
	border: 1px solid #ff9b44;
	border-radius: 50px;
	color: #fff;
	float: right;
	font-weight: 600;
	font-size: 16px;
	min-width: 170px;
	height: 45px;
  }
  
  .main-header h1 {
	font-size: 35px;
	color: #1f1f1f;
	font-weight: 600;
	margin-bottom: 5px;
  }
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
  visibility: visible;
    opacity: 1;
  }

  .pro-edit {
    top: -129px;
  }


  .admin-bx{
    background-color: #fff;
    border-radius: 3px;
    padding:15px;
}
.cat-bx{
    background-color: #fff;
    border-radius: 3px;
    padding:15px;
}

button:disabled {
    cursor: not-allowed;
    background-color: #e9ecef;
    border-color: #dee2e6;
    color: white;
  }

  // Strat Popup css
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
  visibility: visible;
    opacity: 1;
  }
  
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 10px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
    cursor: pointer;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
  
    .popup{
      width: 70%;
    }
  }
// End popup css

 
  

  



  
 