
<div class="main">
    <div class="page-header">

        <h1>Profile</h1>
        <p>Dashboard / Profile</p>

    </div>

    <div class="card-body">
        <div>
            <img style="border-radius: 50%; overflow: hidden;"  src="{{emp.emp_image}}"  class="profile-img">
          
        </div>
        <div class="p-rl">
            <div class="profile-basic d-flex spc-btw">
                    <div class="profile-info-left">
                        <h3>{{emp.firstname}} {{emp.middlename}} {{emp.lastname}} </h3>
                        <h6>UI/UX Design team</h6>
                        <h6>{{emp.designation}}</h6>
                        <p>EmployeeID:{{emp.emp_id}}</p>
                       <P class="clr-grey">Date of Join: {{emp.doj  | date:'dd-MM-yyyy'}}</P>

                    </div>
                    <div>
                        <ul class="personal-info infoo">
                            <li class="d-flex">
                                <div class="title">phone:</div>
                                <div class="txt">{{emp.phone_no}}</div>
                            </li>
                            <li class="d-flex">
                                <div class="title">Email:</div>
                                <div><a href="">{{emp.emailid}}</a></div>
                            </li>
                            <li class="d-flex">
                                <div class="title">Birthday:</div>
                                <div class="txt">{{emp.dob}}</div>
                            </li>
                            <li class="d-flex">
                                <div class="title w-60">Address:</div>
                                <div class="txt ">{{emp.address}}</div>
                            </li>
                            <li class="d-flex">
                                <div class="title">Gender:</div>
                                <div class="txt">{{emp.gender}}</div>
                            </li>
                            <li class="d-flex">
                                <div class="title">Reports us:</div>
                                <div>
                                    <img src="">
                                    <a href="#">Jeffery Lalor</a>
                                </div>
                            </li>
                        </ul>
                    </div>

            </div>

            <div class="pro-edit">
                <img src="../../../../assets/images/edit.png">
            </div>
        </div>

    </div>

    <div class="tab-box"><P>Profile</P></div>


    <div class="flex-fill d-flex spc-btw">
        <div class="col-box">
                <div class="col h-350">
            
                        <div class="p-rl">

                            <h1 class="mg-25">Personal Information</h1>
                            <ul class="personal-info">
                                <li class="d-flex">
                                    <div class="title">Passport No:</div>
                                    <div class="txt">2928930989</div>
                                </li>
                                <li class="d-flex">
                                    <div class="title">Passport Exp Date:</div>
                                    <div class="txt">454355</div>
                                </li>
                                <li class="d-flex">
                                    <div class="title">Tel:</div>
                                    <div class="txt"><a href="">454355989</a></div>
                                </li>
                                <li class="d-flex">
                                    <div class="title">Nationality:</div>
                                    <div class="txt">Indian</div>
                                </li>
                                <li class="d-flex">
                                    <div class="title">Religion:</div>
                                    <div class="txt">Hindu</div>
                                </li>
                                <li class="d-flex">
                                    <div class="title">Merital Status:</div>
                                    <div class="txt">
                                        Married
                                    </div>
                                </li>
                                <li class="d-flex">
                                    <div class="title">Employement of spouse:</div>
                                    <div class="txt">
                                        no
                                    </div>
                                </li>
                                <li class="d-flex">
                                    <div class="title">No of children:</div>
                                    <div class="txt">
                                       11
                                    </div>
                                </li>
                            </ul>
                            <div class="pro-edit">
                                    <img src="../../../../assets/images/edit.png" >
                             </div>
                        </div>

            

                   
                </div>
            </div>
   
        
        
            <div class="col-box">
                <div class="col h-350">
            
                        <div class="p-rl" style="overflow: scroll">
                            <h1 class="mg-25">Family Information</h1>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Relationship</th>
                                        <th>Date Of Birth</th>
                                        <th>phone</th>
                                        <th></th>
                                    </tr>
                                </thead>                              
                                <tbody>
                                    <tr class="p-rl">
                                        <td>Leo</td>
                                        <td>Brother</td>
                                        <td>12 july 1999</td>
                                        <td>89385975</td>
                                        <td>
                                        <img src="../../../../assets/images/dots.png" (click)="show=!show" class="dots"></td>
                                        <ul [style.Display]="show?'none':'block'" class="div-ul active">
                                            <li>
                                            <img src="../../../../assets/images/edit.png">
                                            Edit</li>
                                            <li >
                                                <img src="../../../../assets/images/delete.png">
                                            Delete</li>
                                        </ul>
                                    </tr>
                                </tbody>
                            </table>
                            

                            <div  class="pro-edit">
                                <img src="../../../../assets/images/edit.png">
                            </div>

                        </div>

            

                </div>
            </div>
            
    </div>


    <div class="flex-fill d-flex spc-btw">
        <div class="col-box">
                <div class="col h-220">
            
                        <div class="p-rl">

                            <h1 class="mg-25">Education Information</h1>

                            <ul class="Activity-list">
                                <li>
                                    <p>International College of Arts and Science (UG)</p>
                                    <P class="txt">Bsc Computer Science</P>
                                    <P class="txt">2000 - 2003</P>
                                     
                                </li>
                                <li>
                                    <p>International College of Arts and Science (PG)</p>
                                    <P class="txt">Bsc Computer Science</P>
                                    <P class="txt">2000 - 2003</P>
                                     
                                </li>
                               
                                
                            </ul>
                            
                            <div  class="pro-edit">
                                    <img src="../../../../assets/images/edit.png" >
                             </div>
                        </div>

            

                   
                </div>
            </div>
   
        
        
            <div class="col-box">
                <div class="col h-220">
            
                        <div class="p-rl">
                            <h1 class="mg-25">Experience </h1>

                            <ul class="Activity-list">
                                <li>
                                    <p>Web Designer at Zen Corporation</p>
                                    <P class="txt">Jan 2013 - Present (5 years 2 months)</P>
                                     
                                </li>
                                <li>
                                    <p>Web Designer at Ron-tech</p>
                                    <P class="txt">Jan 2013 - Present (5 years 2 months)</P>
                                     
                                </li>
                                <li>
                                    <p>Web Designer at Dalt Technology</p>
                                    <P class="txt">Jan 2013 - Present (5 years 2 months)</P>
                                     
                                </li>
                            </ul>
                           
                            

                            <div  class="pro-edit">
                                <img src="../../../../assets/images/edit.png">
                            </div>

                        </div>

            

                </div>
            </div>
            
    </div>
   
</div>



