<div class="main">
    <!-- -------------------------------------------------------------------------------------------------------------------- -->
        <div class="main-header">
            <div >
                <h1>Employee</h1>
                <p>Dashboard / Emloyee</p>
            </div>
                <button>+ add Employee</button>
        </div>

<!-- ----------------------------------------------------------------------------------------------------------------------- -->
        <div class="content-head">
            <div>
                <input type="text" name=""placeholder="Employee Id">
            </div>
            <div>
                <input type="text" name="" placeholder="Employee Name">
            </div>
            <div></div>
            <div>search	</div>
        </div>
<!-- ----------------------------------------------------------------------------------------------------------- -->
        <div class="content-body">
            <div>
                <img src="../../../../assets/images/img3.png">
                <p class="f-20">Catherine Manseau</p>
                <p class="c-gray">Web Developer</p>
            </div>
            <div>
                <img src="../../../../assets/images/img3.png">
                <p class="f-20">Catherine Manseau</p>
                <p class="c-gray">Web Developer</p>
            </div>
            <div>
                <img src="../../../../assets/images/img3.png">
                <p class="f-20">Catherine Manseau</p>
                <p class="c-gray">Web Developer</p>
            </div>
            <div>
                <img src="../../../../assets/images/img3.png">
                <p class="f-20">Catherine Manseau</p>
                <p class="c-gray">Web Developer</p>
            </div>
            <div>
                <img src="../../../../assets/images/img3.png">
                <p class="f-20">Catherine Manseau</p>
                <p class="c-gray">Web Developer</p>
            </div>
            <div>
                <img src="../../../../assets/images/img3.png">
                <p class="f-20">Catherine Manseau</p>
                <p class="c-gray">Web Developer</p>
            </div>
            <div>
                <img src="../../../../assets/images/img3.png">
                <p class="f-20">Catherine Manseau</p>
                <p class="c-gray">Web Developer</p>
            </div>
            <div>
                <img src="../../../../assets/images/img3.png">
                <p class="f-20">Catherine Manseau</p>
                <p class="c-gray">Web Developer</p>
            </div>
            <div>
                <img src="../../../../assets/images/img3.png">
                <p class="f-20">Catherine Manseau</p>
                <p class="c-gray">Web Developer</p>
            </div>
            <div>
                <img src="../../../../assets/images/img3.png">
                <p class="f-20">Catherine Manseau</p>
                <p class="c-gray">Web Developer</p>
            </div>
            <div>
                <img src="../../../../assets/images/img3.png">
                <p class="f-20">Catherine Manseau</p>
                <p class="c-gray">Web Developer</p>
            </div>
            <div>
                <img src="../../../../assets/images/img3.png">
                <p class="f-20">Catherine Manseau</p>
                <p class="c-gray">Web Developer</p>
            </div>
            <div>
                <img src="../../../../assets/images/img3.png">
                <p class="f-20">Catherine Manseau</p>
                <p class="c-gray">Web Developer</p>
            </div>
            
            
        </div>
</div>