<div class="main">
    <!-- -------------------------------------------------------------------------------------------------------------------- -->
        <div class="main-header">
            <div >
                <h1>Employee</h1>
                <p>Dashboard / Employee</p>
            </div>
                <button>+ add Employee</button>
        </div>

<!-- ----------------------------------------------------------------------------------------------------------------------- -->
        <div class="content-head">
            <div>
                <input type="text" name=""placeholder="Employee Id">
            </div>
            <div>
                <input type="text" name="" placeholder="Employee Name">
            </div>
            <div (click)="veiw=!veiw" class="child3">

                <p class="c-gray">designation</p>
                <p class="f-18">select designation</p>
                <img src="../../../../assets/images/icon1.png"	>
                <ul [style.Display]="veiw?'none':'block'" class="design-ul">
                    <li>select desidnation</li>
                    <li>web developer</li>
                    <li>web designer</li>
                    <li>android developer</li>
                </ul>

            </div>
            <div>search	</div>
        </div>
<!-- ----------------------------------------------------------------------------------------------------------- -->
        <div class="content-body">
            <div>
                <a routerLink="/EmployeeDetail"><img src="../../../../assets/images/img3.png">
                <p class="f-20">Catherine Manseau</p></a>
                <p class="c-gray">Web Developer</p>
                <img src="../../../../assets/images/dots.png" (click)="show=!show" class="dots">
                <ul [style.Display]="show?'none':'block'" class="div-ul active">
                    <li>
                    <img src="../../../../assets/images/edit.png">
                    Edit</li>
                    <li >
                        <img src="../../../../assets/images/delete.png">
                    Delete</li>
                </ul>
            </div>
            <div>
                <img src="../../../../assets/images/img3.png">
                <p class="f-20">Catherine Manseau</p>
                <p class="c-gray">Web Developer</p>
                <img src="../../../../assets/images/dots.png" (click)="show=!show" class="dots">
                <ul [style.Display]="show?'none':'block'" class="div-ul active">
                    <li>
                    <img src="../../../../assets/images/edit.png">
                    Edit</li>
                    <li >
                        <img src="../../../../assets/images/delete.png">
                    Delete</li>
                </ul>
            </div>
            <div>
                <img src="../../../../assets/images/img3.png">
                <p class="f-20">Catherine Manseau</p>
                <p class="c-gray">Web Developer</p>
                <img src="../../../../assets/images/dots.png" (click)="show=!show" class="dots">
                <ul [style.Display]="show?'none':'block'" class="div-ul active">
                    <li>
                    <img src="../../../../assets/images/edit.png">
                    Edit</li>
                    <li >
                        <img src="../../../../assets/images/delete.png">
                    Delete</li>
                </ul>
            </div>
            <div>
                <img src="../../../../assets/images/img3.png">
                <p class="f-20">Catherine Manseau</p>
                <p class="c-gray">Web Developer</p>
                <img src="../../../../assets/images/dots.png" (click)="show=!show" class="dots">
                <ul [style.Display]="show?'none':'block'" class="div-ul active">
                    <li>
                    <img src="../../../../assets/images/edit.png">
                    Edit</li>
                    <li >
                        <img src="../../../../assets/images/delete.png">
                    Delete</li>
                </ul>
            </div>
            <div>
                <img src="../../../../assets/images/img3.png">
                <p class="f-20">Catherine Manseau</p>
                <p class="c-gray">Web Developer</p>
                <img src="../../../../assets/images/dots.png" (click)="show=!show" class="dots">
                <ul [style.Display]="show?'none':'block'" class="div-ul active">
                    <li>
                    <img src="../../../../assets/images/edit.png">
                    Edit</li>
                    <li >
                        <img src="../../../../assets/images/delete.png">
                    Delete</li>
                </ul>
            </div>


            <div>
                <img src="../../../../assets/images/img3.png">
                <p class="f-20">Catherine Manseau</p>
                <p class="c-gray">Web Developer</p>
                <img src="../../../../assets/images/dots.png" (click)="show=!show" class="dots">
                <ul [style.Display]="show?'none':'block'" class="div-ul active">
                    <li>
                    <img src="../../../../assets/images/edit.png">
                    Edit</li>
                    <li >
                        <img src="../../../../assets/images/delete.png">
                    Delete</li>
                </ul>
            </div>


            <div>
                <img src="../../../../assets/images/img3.png">
                <p class="f-20">Catherine Manseau</p>
                <p class="c-gray">Web Developer</p>
                <img src="../../../../assets/images/dots.png" (click)="show=!show" class="dots">
                <ul [style.Display]="show?'none':'block'" class="div-ul active">
                    <li>
                    <img src="../../../../assets/images/edit.png">
                    Edit</li>
                    <li >
                        <img src="../../../../assets/images/delete.png">
                    Delete</li>
                </ul>
            </div>


            <div>
                <img src="../../../../assets/images/img3.png">
                <p class="f-20">Catherine Manseau</p>
                <p class="c-gray">Web Developer</p>
                <img src="../../../../assets/images/dots.png" (click)="show=!show" class="dots">
                <ul [style.Display]="show?'none':'block'" class="div-ul active">
                    <li>
                    <img src="../../../../assets/images/edit.png">
                    Edit</li>
                    <li >
                        <img src="../../../../assets/images/delete.png">
                    Delete</li>
                </ul>
            </div>


             <div>
                <img src="../../../../assets/images/img3.png">
                <p class="f-20">Catherine Manseau</p>
                <p class="c-gray">Web Developer</p>
                <img src="../../../../assets/images/dots.png" (click)="show=!show" class="dots">
                <ul [style.Display]="show?'none':'block'" class="div-ul active">
                    <li>
                    <img src="../../../../assets/images/edit.png">
                    Edit</li>
                    <li >
                        <img src="../../../../assets/images/delete.png">
                    Delete</li>
                </ul>
            </div>


            <div>
                <img src="../../../../assets/images/img3.png">
                <p class="f-20">Catherine Manseau</p>
                <p class="c-gray">Web Developer</p>
                <img src="../../../../assets/images/dots.png" (click)="show=!show" class="dots">
                <ul [style.Display]="show?'none':'block'" class="div-ul active">
                    <li>
                    <img src="../../../../assets/images/edit.png">
                    Edit</li>
                    <li >
                        <img src="../../../../assets/images/delete.png">
                    Delete</li>
                </ul>
            </div>


            <div>
                <img src="../../../../assets/images/img3.png">
                <p class="f-20">Catherine Manseau</p>
                <p class="c-gray">Web Developer</p>
                <img src="../../../../assets/images/dots.png" (click)="show=!show" class="dots">
                <ul [style.Display]="show?'none':'block'" class="div-ul active">
                    <li>
                    <img src="../../../../assets/images/edit.png">
                    Edit</li>
                    <li >
                        <img src="../../../../assets/images/delete.png">
                    Delete</li>
                </ul>
            </div>


            <div>
                <img src="../../../../assets/images/img3.png">
                <p class="f-20">Catherine Manseau</p>
                <p class="c-gray">Web Developer</p>
                <img src="../../../../assets/images/dots.png" (click)="show=!show" class="dots">
                <ul [style.Display]="show?'none':'block'" class="div-ul active">
                    <li>
                    <img src="../../../../assets/images/edit.png">
                    Edit</li>
                    <li >
                        <img src="../../../../assets/images/delete.png">
                    Delete</li>
                </ul>
            </div>


            <div>
                <img src="../../../../assets/images/img3.png">
                <p class="f-20">Catherine Manseau</p>
                <p class="c-gray">Web Developer</p>
                <img src="../../../../assets/images/dots.png" (click)="show=!show" class="dots">
                <ul [style.Display]="show?'none':'block'" class="div-ul active">
                    <li>
                    <img src="../../../../assets/images/edit.png">
                    Edit</li>
                    <li >
                        <img src="../../../../assets/images/delete.png">
                    Delete</li>
                </ul>
            </div>
            
            
        </div>
</div>
<router-outlet></router-outlet>