<div class="main">
    <!-- -------------------------------------------------------------------------------------------------------------------- -->
        <div class="main-header">
            <div >
                <h1>Employee</h1>
                <p>Dashboard / Employee</p>
            </div>
                <button>+ add Employee</button>
        </div>

<!-- ----------------------------------------------------------------------------------------------------------------------- -->
        
            
            
            <select (change)="onChange($event)" class="select" value='select' [(ngModel)]="designation_id"  class="form-control" >
                <option  value=0 selected><b>Select Designation</b></option>
              <option *ngFor="let item of designation;index as i" [value]="item.id">{{item.designation_name}}</option>
            </select>
            <div class="content-head">
                
                    <input [(ngModel)]="search" style="  height: 35px;padding-left: 33px;width: 354px;margin-right: 18px;margin-left: 30px; " type="text" name="" placeholder="search by employee name or employee id">
            
            <button class="button" (click)="Searching(this.search)" ><h4>SEARCH</h4></button>
        </div>
<!-- ----------------------------------------------------------------------------------------------------------- -->
        <div class="content-body" >
            <div *ngFor="let item of emp">
                <a [routerLink]="['/EmployeeDetail', item.id]" ><img style="border-radius: 50%; overflow: hidden;" [src]='item.emp_image'>
                <p class="f-20">{{item.firstname}} {{item.middlename}} {{item.lastname}}</p></a>
                <p class="c-gray">{{item.designation}}</p>
                <img src="../../../../assets/images/dots.png" (click)="HideShow(item.id)" class="dots">
               
                <ul [style.Display]="item.id==selectedEmpId?'block':'none'"  class="div-ul active">
                    <li>
                     
                    <img src="../../../../assets/images/edit.png" >
                    Edit</li>
                    <li >
                        <img src="../../../../assets/images/delete.png">
                    Delete</li>
                </ul>
            </div>
          
            
        </div>
</div>
<router-outlet></router-outlet>