
<div class="content-body">

    <img src="../../../../assets/images/logo.svg">


    <div class="ragis-form">
        <div class="text-c">
                <h1>Register</h1>
                <p>Access to our Dashboard	</p>
        </div>
        <div class="info-input">
                <div>

                    <span>Employee Name</span> <input type="" name="" class="form-control">
                    <span>Age </span><input type="" name="" class="form-control">
                    <span>Gender</span> <input type="" name="" class="form-control">
                    <span>Phone no</span><input type="" name="" class="form-control">
                    <span>Date of Joining</span><input type="" name="" class="form-control">
                </div>
                <div>

                    <span>Designation</span> <input type="" name="" class="form-control">
                    <span>Role</span><input type="" name="" class="form-control"> 
                    <span>Email ID</span><input type="" name="" class="form-control">
                    <span>Password</span> <input type="" name="" class="form-control">
                    <span>Confirm Password</span><input type="" name="" class="form-control">
                </div>
        </div>

        <div class="text-c">

            <button class="form-control-btn">Register</button >
            <div>
                <p>Already have an account ?</p>
                <a href="#">Login</a>
            </div>
        </div>
    </div>
</div>