
<h1></h1>
<div class="content-body">

    <img src="../../../../assets/images/logo.svg">
        

    <div class="ragis-form">
            <div class="text-c">
                    <h1>Login</h1>
                    <p>Access to our Dashboard	</p>
            </div>

            <div class="info-input">								

                <div><span>EmployeeID</span> <input type="" name="" [(ngModel)]="emp_id" class="form-control"></div>
                <div>
                    <div class="d-flex spc-btw mg-btm" >
                        <span>Password</span>
                        <span class="clr-gry"><a href="#">Forgot Password </a> ?</span>

                    </div>
                    <input type="password"[(ngModel)]="password" name="" class="form-control">
                </div>
        
        

                <div>

                    <button (click)="login()" class="form-control-btn bg-color  "><a href="#"> Login</a></button >
                    <div class="text-c">
                        <p>Don't have an account yet ?</p>
                        <a href="Auth/Register">Register</a>
                    </div>
                </div>

        </div>

    </div>
</div>
