<!-- //here -->
<div class="content">
    <div [style.Display]="view?'none':'block'" class="fade-show">
        <div class="add-leave-form">
            <img (click)="view=!view" src="../../../../../assets/images/cross.png" class="dots">
            <h1>Add leave</h1>
            <div>
                <h5>leave type <sup>*</sup></h5>
                <div class="form-feild">
                    <select class="w-100">
                        <option>Select Leave Type</option>
                        <option>Casual Leave</option>
                        <option>Medical Leave</option>
                        <option>Loss of Pay</option>
                    </select>
                </div>
            </div>
            <div>
                <p>From<sup>*</sup></p>
                <div class="w-100 form-feild">
                    <input type="">
                    <img src="../../../../assets/images/celendr-icon.png">
                </div>
                  
            </div>
            <div>
                <p>To<sup>*</sup></p>
                <div class="w-100 form-feild">
                    <input type="">
                    <img src="../../../../assets/images/celendr-icon.png">
                </div>
            </div>
            <div>
                <p>Number of Days<sup>*</sup></p>
                <div class="w-100 form-feild">
                    <input type="">
                </div>
            </div>
            <div>
                <p>Remaining leaves<span>*</span></p>
                <div class="w-100 form-feild">
                    <input type="text">
                </div>
            </div>
            <div>
                <p>Leave Reason<span>*</span></p>
                <div class="form-feild">
                    <textarea rows="5"></textarea>
                </div>
            </div>
            <div class="leave-frm-btn">
                <a href="#">Submit</a>
            </div>
        </div>
    </div>




    <div class="page-header d-flex justify-btw">
        <div>
            <h1>Leaves</h1>
            <ul class="d-flex">
                <li>Dashboard</li>
                <li class="clr-gry"> / Leaves</li>
            </ul>
        </div>
        <div>
            <button (click)="view=!view">+ Add Leave</button>
        </div>
    </div>

    <div class="row d-flex justify-btw wrap">
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Annual Leave</h6>
                <h4>12</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Medical Leave</h6>
                <h4>8</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Other Leave</h6>
                <h4>4</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Remaining Leave</h6>
                <h4>5</h4>
            </div>
        </div>
    </div>


    <!-- entreis........................................................ -->
    <div class="entries">
        <label>
            show
            <select>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            entries
        </label>
    </div>

    <!-- data table............................................................. -->

    <div class="data-table">
        <table>
            <thead>
                <tr>
                    <th>Leave Type</th>
                    <th>From</th>
                    <th>To</th>
                    <th>No of Days</th>
                    <th>Reason</th>
                    <th>Status</th>
                    <th>Approved by</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Casual Leave</td>
                    <td>Date</td>
                    <td>Date</td>
                    <td>No of Days</td>
                    <td>Reason</td>
                    <td>
                        <div class="box-i d-flex">
                            <input checked="checked" type="radio">
                            <p>New</p>
                        </div>
                    </td>
                    <td class=" profile-td d-flex">
                        <img src="../../../../assets/images/Name_Icon-01.png">
                        <p>John Smith</p>
                    </td>
                    <td>
                        <div class="dropdown-i-container" tabindex="-1">
                            <div class="three-dots"></div>
                            <div class="dropdown-i">
                                <div (click)="view=!view">Edit
                                    <div [style.Display]="view?'none':'block'" class="fade-show">
                                        <div class="add-leave-form">
                                            <img (click)="view=false" src="../../../../../assets/images/cross.png" class="dots">
                                            <h1>Edit leave</h1>
                                            <div>
                                                <p>leave type <sup>*</sup></p>
                                                <div class="form-feild">
                                                    <select class="w-100">
                                                        <option>Select Leave Type</option>
                                                        <option>Casual Leave</option>
                                                        <option>Medical Leave</option>
                                                        <option>Loss of Pay</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div>
                                                <p>From<sup>*</sup></p>
                                                <div class="w-100 form-feild">
                                                    <input type="text" required>
                                                    <img src="../../../../assets/images/celendr-icon.png">
                                                </div>
                                            </div>
                                            <div>
                                                <p>To<sup>*</sup></p>
                                                <div class="w-100 form-feild">
                                                    <input type="">
                                                    <img src="../../../../assets/images/celendr-icon.png">
                                                </div>
                                            </div>
                                            <div>
                                                <p>Number of Days<sup>*</sup></p>
                                                <div class="w-100 form-feild">
                                                    <input type="">
                                                </div>
                                            </div>
                                            <div>
                                                <p>Remaining leaves<span>*</span></p>
                                                <div class="w-100 form-feild">
                                                    <input type="text">
                                                </div>
                                            </div>
                                            <div>
                                                <p>Leave Reason<span>*</span></p>
                                                <div class="form-feild">
                                                    <textarea rows="5"></textarea>
                                                </div>
                                            </div>
                                            <div class="leave-frm-btn">
                                                <a href="#">Submit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>Delet</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Casual Leave</td>
                    <td>Date</td>
                    <td>Date</td>
                    <td>No of Days</td>
                    <td>Reason</td>
                    <td>
                        <div class="box-i d-flex">
                            <input checked="checked" type="radio">
                            <p>New</p>
                        </div>
                    </td>
                    <td class=" profile-td d-flex">
                        <img src="../../../../assets/images/Name_Icon-01.png">
                        <p>John Smith</p>
                    </td>
                    <td>
                        <div class="dropdown-i-container" tabindex="-1">
                            <div class="three-dots"></div>
                            <div class="dropdown-i">
                                <div>Edit</div>
                                <div>Delet</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>LOP</td>
                    <td>Date</td>
                    <td>Date</td>
                    <td>No of Days</td>
                    <td>Reason</td>
                    <td>
                        <div class="box-i d-flex">
                            <input checked="checked" type="radio">
                            <p>New</p>
                        </div>
                    </td>
                    <td class=" profile-td d-flex">
                        <img src="../../../../assets/images/Name_Icon-01.png">
                        <p>John Smith</p>
                    </td>
                    <td>
                        <div class="dropdown-i-container" tabindex="-1">
                            <div class="three-dots"></div>
                            <div class="dropdown-i">
                                <div>Edit</div>
                                <div>Delet</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>LOP</td>
                    <td>Date</td>
                    <td>Date</td>
                    <td>No of Days</td>
                    <td>Reason</td>
                    <td>
                        <div class="box-i d-flex">
                            <input checked="checked" type="radio">
                            <p>New</p>
                        </div>
                    </td>
                    <td class=" profile-td d-flex">
                        <img src="../../../../assets/images/Name_Icon-01.png">
                        <p>John Smith</p>
                    </td>
                    <td>
                        <div class="dropdown-i-container" tabindex="-1">
                            <div class="three-dots"></div>
                            <div class="dropdown-i">
                                <div>Edit</div>
                                <div>Delet</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>LOP</td>
                    <td>Date</td>
                    <td>Date</td>
                    <td>No of Days</td>
                    <td>Reason</td>
                    <td>
                        <div class="box-i d-flex">
                            <input checked="checked" type="radio">
                            <p>New</p>
                        </div>
                    </td>
                    <td class=" profile-td d-flex">
                        <img src="../../../../assets/images/Name_Icon-01.png">
                        <p>John Smith</p>
                    </td>
                    <td>
                        <div class="dropdown-i-container" tabindex="-1">
                            <div class="three-dots"></div>
                            <div class="dropdown-i">
                                <div>Edit</div>
                                <div>Delet</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>LOP</td>
                    <td>Date</td>
                    <td>Date</td>
                    <td>No of Days</td>
                    <td>Reason</td>
                    <td>
                        <div class="box-i d-flex">
                            <input checked="checked" type="radio">
                            <p>New</p>
                        </div>
                    </td>
                    <td class=" profile-td d-flex">
                        <img src="../../../../assets/images/Name_Icon-01.png">
                        <p>John Smith</p>
                    </td>
                    <td>
                        <div class="dropdown-i-container" tabindex="-1">
                            <div class="three-dots"></div>
                            <div class="dropdown-i">
                                <div>Edit</div>
                                <div>Delet</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Paternity Leave</td>
                    <td>Date</td>
                    <td>Date</td>
                    <td>No of Days</td>
                    <td>Reason</td>
                    <td>
                        <div class="box-i d-flex">
                            <input checked="checked" type="radio">
                            <p>New</p>
                        </div>
                    </td>
                    <td class=" profile-td d-flex">
                        <img src="../../../../assets/images/Name_Icon-01.png">
                        <p>John Smith</p>
                    </td>
                    <td>
                        <div class="dropdown-i-container" tabindex="-1">
                            <div class="three-dots"></div>
                            <div class="dropdown-i">
                                <div>Edit</div>
                                <div>Delet</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Paternity Leave</td>
                    <td>Date</td>
                    <td>Date</td>
                    <td>No of Days</td>
                    <td>Reason</td>
                    <td>
                        <div class="box-i d-flex">
                            <input checked="checked" type="radio">
                            <p>New</p>
                        </div>
                    </td>
                    <td class=" profile-td d-flex">
                        <img src="../../../../assets/images/Name_Icon-01.png">
                        <p>John Smith</p>
                    </td>
                    <td>
                        <div class="dropdown-i-container" tabindex="-1">
                            <div class="three-dots"></div>
                            <div class="dropdown-i">
                                <div>Edit</div>
                                <div>Delet</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Paternity Leave</td>
                    <td>Date</td>
                    <td>Date</td>
                    <td>No of Days</td>
                    <td>Reason</td>
                    <td>
                        <div class="box-i d-flex">
                            <input checked="checked" type="radio">
                            <p>New</p>
                        </div>
                    </td>
                    <td class=" profile-td d-flex">
                        <img src="../../../../assets/images/Name_Icon-01.png">
                        <p>John Smith</p>
                    </td>
                    <td>
                        <div class="dropdown-i-container" tabindex="-1">
                            <div class="three-dots"></div>
                            <div class="dropdown-i">
                                <div>Edit</div>
                                <div>Delet</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Paternity Leave</td>
                    <td>Date</td>
                    <td>Date</td>
                    <td>No of Days</td>
                    <td>Reason</td>
                    <td>
                        <div class="box-i d-flex">
                            <input checked="checked" type="radio">
                            <p>New</p>
                        </div>
                    </td>
                    <td class=" profile-td d-flex">
                        <img src="../../../../assets/images/Name_Icon-01.png">
                        <p>John Smith</p>
                    </td>
                    <td>
                        <div class="dropdown-i-container" tabindex="-1">
                            <div class="three-dots"></div>
                            <div class="dropdown-i">
                                <div>Edit</div>
                                <div>Delet</div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="data-table-info">showing 1 to 7 of 7 entries</div>
        <div class="paging-num">
            <ul class="d-flex">
                <li><a href="#">Previous</a></li>
                <li class="num"><a href="#">1</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>


    </div>
</div>