/* You can add global styles to this file, and also import other style files */
*{padding: 0;margin: 0;}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$mycolor:#0e5d64;

@mixin commoncode {
    .d-flex{display: flex;}
    .justify-btw{justify-content: space-between;}
    .align-center{align-items: center;}
    ul li{list-style: none;}
    .p-rl{position: relative;}
    .js-cntr{justify-content: center;}
    a{text-decoration: none;cursor: pointer;}
    .clr-gry{ color: #6c757d !important;}
    .wrap{flex-wrap: wrap;}
    .bg-color{background:linear-gradient(to right, #ff9b44 0%, #fc6075 100%) ;}
    
    
}
html{
    font-size: 15px;
}
@mixin dropdown{    position: absolute;
    background: white;
    z-index: 2;
    padding: 15px;
    top: 48px;
    right: 10px;    border-radius: 5px;
    font-weight: 700;
    ul
    {
        padding-left: 0 !important;margin-bottom: 0 !important;
    }

}

@mixin dropdown2 { background: white;
    padding: 7px;
    border-radius: 5px;
    position: absolute;
    left: -50px;

    img{
        height: 20px;padding:10px 14px 0
    }

    
    ul{
        padding-left: 0 !important;margin-bottom: 0 !important;
    }
    
}
    
