<div class="right-nav">
    <ul class="right-nav-ul">
        <li class="before"><img src="../../../assets/images//img2.png"></li>
        <li class="before"><img src="../../../assets/images//img4.png"></li>

        <li (click)="view=!view" class="profile">
            <img src="../../../assets/images/img3.png" >
            <p class="show" >{{emp.firstname}}</p>
            <img src="../../../assets/images//icon1.png" style="height: 15px" class="arrw">
            <!-- <ul [style.Display]="view?'none':'block'" class="active">
                <li>my profile</li>
                <li>setting</li>
                <li><a routerLink="Auth/Login">Logout</a></li>
            </ul> -->
        

        </li>
    </ul>
    <ul [style.Display]="view?'none':'block'" class="active">
        <a routerLink="/profile" ><li>my profile</li></a>
        <li>setting</li>
        <li (click)="logout()">Logout</li>
    </ul>
    <img src="../../../../assets/images/dots.png" (click)="view=!view" class="dots" >

    <div class="dropdown">
        <div class="dropdown-menu">
            <a class="dropdown-item"></a>
            <a class="dropdown-item"></a>
            <a class="dropdown-item"></a>
        </div>
    </div>