

*{margin: 0;padding: 0}

ul li{list-style: none;}
.f-20{font-size: 20px;font-weight: 600}
.c-gray{color: #8e8e8e;font-size: 15px}
.f-18{font-size: 18px}

.d-flex{display: flex;}
.spc-btw{justify-content: space-between;}

.clr-grey{    color: #565353}









/*main sec......................................................................................................................*/


.main-sec{padding-left: 250px}
.main{padding: 30px;    background-color: #f9f9f9;}
.main-header{margin-bottom: 30px;}

.main-header h1	{	font-size: 35px;    color: #1f1f1f;
                    font-weight: 600;
                    margin-bottom: 5px
                }


.main-header p{font-size: 20px}





.filter-row{display: flex;justify-content: space-between;flex-wrap: wrap;}

.filter-row div{

                    border:solid #e3e3e3;
                    box-shadow: none;
                    font-size: 13px;    
                    height: 50px;
                    border-radius: 6px;
                    width: 23%;position: relative;
                    background: white;
                    display: flex;
                    flex-direction: column;padding: 10px;box-sizing: border-box;
                }


.filter-row div input   {   height: 100%;   
                            font-size: 14px;width: 100%;
                            padding-left: 10px;border: 0
                        }


.filter-row div input:focus{border:0;}


.filter-row div img{     height: 10px;
                        position: absolute;
                        right: 10px;
                        top: 15px
                    }


.filter-row div:nth-child(4){   background-color: #55ce63;
                                border: 1px solid #55ce63;
                                color: white;
                                font-size: 23px;
                                text-align: center;
                                padding: 10px;
                                box-sizing: border-box}


.row{   display: grid;
        grid-template-rows: 500px;
        grid-template-columns: repeat(3	 , 1fr);
        grid-gap: 20px;
        margin: 20px 0
    }

.col{    background-color: #fff;
            border: 1px solid #ededed;
            border-radius: 4px;
            margin-bottom: 30px;
            padding: 20px; 
            position: relative;
            box-shadow: 0 1px 1px #0003;
            overflow: auto}


.col h2{margin-bottom: 20px}

.card-title{    color: #1f1f1f;
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 20px}

.punch-det{background-color: #f9f9f9;
            border: 1px solid #e3e3e3;
            border-radius: 4px;
            margin-bottom: 15px;
            padding: 10px 15px}

.punch-det p{    color:#565353;
                font-size: 14px;
                margin-bottom: 0;}

                                        
.punch-hour{    align-items: center;
                background-color: #f9f9f9;
                border: 5px solid #e3e3e3 !important;
                border-radius: 50% !important;
                display: flex;
                font-size: 18px;
                height: 120px;
                justify-content: center;
                margin: 0 auto;
                width: 120px;}


.btn{    border-radius: 50px;
        font-size: 18px;
        font-weight: 600;
        height: 50px;
        /* max-width: 100%; */
        margin: auto;
        display: inherit;
        padding: 8px 40px;
        background: orange;
        background-color: #ff9b44;
        border: 1px solid #ff9b44;color: white;margin: 30px auto}


.stats-box{       width: 230px;
                height: 45px;
                text-align: center;
                padding: 3px;    margin: 0 0 0 10px;
                box-sizing: border-box;  background-color: #f9f9f9;
                border: 1px solid #e3e3e3}
.progress{    display: flex;
            height: 4px;
            overflow: hidden;
            font-size: .75rem;
            background-color: #e9ecef;
            border-radius: 0.25rem;margin: 10px 0}	

.progress-bar{width: 31%;background-color: #ff9b44}	
.bar2{background-color: #ffbc34}  
.bar3{width: 62%;    background-color: #55ce63} 
.bar4{width:62%;background-color: #f62d51}
.bar5{width: 22%;    background-color: #009efb}



.Activity-list{position: relative;padding-left: 30px}

.Activity-list:after{    content: "";
                border: 1px solid #e5e5e5;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 4px;	}

.Activity-list li{position: relative;padding: 10px 0}

.Activity-list li:before{content: "";
                    position: absolute;
                    border-radius: 100%;    width: 8px;
                    height: 8px;
                    left: -30px;
                    top: 0px;
                    border: 2px solid #ff9b44;
                    margin-right: 15px;
                    z-index: 2;
                    background: #fff}

.Activity-list img{height: 20px}


    .content-head div input   { height: 100%;
                        
                        font-size: 16px;
                        padding-left: 10px;border: 0}

    .content-head div:nth-child(3){    padding: 5px;  box-sizing: border-box;position: relative;}
    .content-head div:nth-child(3) img{    height: 10px;
                                            position: absolute;
                                            right: 10px;
                                            top: 15px}


.month-ul {      display: block;
                 position: absolute;
                top: 46px;
                z-index: 2;
                background: white;
                right: 0;
                left: 0;
                border: solid #e3e3e3;
                border-radius: 6px;
                padding: 10px;font-size: 17px}

.month-ul li:hover{background: #0d6efd}


				

.Year-ul{   display: block;
            position: absolute;
            top: 46px;
            z-index: 2;
            background: white;
            right: 0;
            left: 0;
            border: solid #e3e3e3;
            border-radius: 6px;
            padding: 10px;font-size: 17px}
					
.Year-ul li:hover{background: #0d6efd}


.custom-table{width: 100%;margin: 40px 0	;border-collapse: collapse;text-align: left;	}
.custom-table tbody tr td{padding: 20px}
.custom-table  tr{    background-color: #fff;
                      box-shadow: 0 0 3px #e5e5e5	}


.custom-table tbody tr:first-child{background-color: #a9a9a9}
.custom-table thead tr th{padding:20px;}

@media (max-width:992px){

   .row {grid-template-columns: repeat(1 , 1fr)}
   
 
   

}

@media(max-width:768px){
    
    .filter-row div{margin: 8px 0;width: 48%;}

}
@media(max-width:590px){
    
    .filter-row div{margin: 8px 0;width: 100%;}

}

.btn-punchin{    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    /* max-width: 100%; */
    margin: auto;
    display: inherit;
    padding: 8px 40px;
    background: rgb(0, 255, 21);
    background-color: #44ff4d;
    border: 1px solid #44ff7c;color: white;margin: 30px auto}
